*{
  padding: 0;
  margin: 0;
}

.parent{
  height: 100vh;
  width: 100wh;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  width:200px;
  height: 280px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 20px;
  justify-content: space-around;
}
.top{
  display: flex;
  justify-content: space-between;
}
.top img{
  padding: 10px;
  background: #b9b1b191;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  object-fit: cover;
  
  /* border: black 2px solid; */

}
.top button{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
height: 20px;
width: 60px;
}
.bookmark{
  height: 15px;
  width: 15px;
}

.center{
  height: 150px;
  width: 100%;
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.center h2{
 font-size: 30px;
}

.center span{
  font-size: 12px;
  color: rgba(31, 30, 30, 0.542);
  margin-left: 10px;
}